{% extends 'base.html' %}

<h4>{% block title %} Data Input Forms {% endblock %}</h4>


{% block content %}
<div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <!-- Demo purpose only -->
                                    <div style="min-height: 300px;">
                                        <h1>{{ labels }}

                                        {{ count }}

                                            {{ count_m }}

                                            {{ age }}



                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>




{% endblock %}